*{padding: 0;margin: 0;box-sizing: border-box; font-family: "Unbounded", sans-serif;}

header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    img{
        width: 20%;
        
    }
    ul{
        list-style: none;
        display:flex ;
        padding: .3rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-weight: 500;
        gap: .5rem;
       li{
        padding-top: 10px;
        font-size: 11px;
        letter-spacing: 1px;
        transition: .4s;
        &:hover{
            transform: translateY(-5px);
        }
       } 




    }
}

body{
   
    background: url(https://wallpapers.com/images/hd/simple-weed-design-for-iphone-llraguwgfe1ppwgq.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
   
}

main{
    
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .hoja{color: green;}
    .producto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem;
        text-align: center;
        margin: 1.5rem;
        border-radius: 5px;
        gap: 1rem;
        background-color: white;
        img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        color: white;
        }
    }
    button{
       
        background: transparent;
        padding: 10px 16px;
        border-radius: 5px;
        border: 1px solid green;
        font-weight: bold ;
        transition: .3s;
        cursor: pointer;
        &:hover{
            background-color:green;
            color: white;
        }
    }
    /* footer{
        display: flex;
        justify-content: center;
        align-items:center;
        color: white;
        top: 100%;
        position: relative;
        bottom: 0;
    } */
}